@import "@/shared/styles/media";
.modalContent {
  background: var(--gray4);
  margin-left: auto;
  max-width: 470px;
  height: 100%;
  padding: 56px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: translateX(100%);

  &.openedModal {
    transform: translateX(0);
    animation: openModal 300ms linear;
  }

  @include tablet {
    padding-right: 40px;
    gap: 18px;
  }

  @include largeMobile {
    max-width: 375px;
    padding: 30px 16px;
    gap: 14px;
  }
}

.modalBody {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: hidden;

  @include tablet {
    gap: 18px;
  }

  @include mobile {
    gap: 14px;
  }
}

.emailInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.cube {
  display: block;
  width: 12px;
  height: 12px;
  background: var(--primary);
  border-radius: 2px;
}

.table {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.smallGraph {
  background: var(--gray3);
  position: relative;
}

@keyframes openModal {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}