@import "@/shared/styles/media.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 29px 34px 24px;

  @include tablet {
    padding: 29px 24px 18px;
    gap: 27px;
  }

  @include mobile {
    padding: 26px 16px 18px;
    gap: 26px;
  }
}


